body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: blue;
    color: white;
}

.container {
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.countdown{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.time-box {
    text-align: center;
    font-size: 1.5rem;
}

.time-box span:first-child{
    display: block;
    font-size: 3rem;
    font-weight: bold;
}